body {
    background-color: red;
    text-align: center;
}
#title {
    border: blue solid 5px;
    background-color: lightblue;
    margin: 10px;
    font-size: 30px;
}
.paragraph {
    border: blue dashed 5px;
    background-color: lightblue;
    width: 250px;
    padding: 15px;
    margin: 10px;
}
#first {
    text-align: left;
}
#image {
    position: relative;
    top: -200px;
    right: -250px;
}